@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.main {
    background-image: url("images/bgimg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    max-width: 60vw;
    margin: auto;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
    
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0px 23px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

input text {
    font-weight: 400;
    font-size: 16px;
}

.separation {
    height: 5px;
    background-color: rgb(54, 53, 53);
}

.btnlang{
    width: 130px;
    padding: 3px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid white;
    border-radius:5px;
    background-color: black;
    color: white;
    opacity: 0.8;
    line-height: 20px;
}

.btnsign{
    width: 65px;
    padding: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
    line-height: 14px;

}

.btnget{
border: 2px solid red;
font-weight: 500;
font-size: 24px;
line-height: 24px;
color: white;
background-color: red;
border-radius: 4px;
padding: 4px;
height: 6vh;

}

input{
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 0px 0px 15px;
    height: 6vh;
    width: 30vw;
}
